@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round','caviar_dreamsbold',sans-serif;
}

li{
    list-style: none;
}


a{
    text-decoration: none;
    color:#000;
}
#principal {
   font-family: 'Varela Round','caviar_dreamsbold',sans-serif;
   background-color: rgb(250, 238, 238);
   margin: 0;
   padding: 0;
}
#logo {
    display: flex;
    justify-content: center;
    height: 130px;
    margin: auto auto;   
}
.element_logo {
    margin-right: 10px;
    margin-top: 25px;
}
#element_titre {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.titre {   
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: normal;
}
.sous_titre {
    margin-top: 5px;
    padding-top: 0;
    font-weight: normal;
}
.burger {
    display: none;
}
.connexion__mobile {
    display: none;
}
.menu {
    display: block;
    height: 50px;
    position: relative;
    background-color: rgb(0, 174, 239);
    margin: 0;
    padding: 0;
}
.menu nav {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding: auto;
    justify-content: space-around;
    background: inherit;
    height: 50px;
}
.menu nav a {
    text-decoration: none;
    margin: auto auto;
    font-size: 1.2em;
    color: white;
}
.menu nav a:hover {
    color: rgb(141, 191, 59) ;
}
/* ===============Fin logo + menu================= */
#background {
    position: relative;
    height: 500px;
    background-image: url(../img/slide_1.png);
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;  
}
.slider {   
    position: absolute;
    width:  700px;
    height: 200px;
    overflow: hidden;
}
.slides {
    /* width: 2600px; */
    position: absolute;
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    /* border : solid green; */
    /* SO */
    width: 2100px;
    display: flex;
}
.slide_texte {
    font-family: 'caviar_dreamsbold';
    font-size: 1.6em;
    color: white;    
    text-align: center; 
}
.slide {
    width: 700px;
    height: 200px;
    /* display: inline-block; */
    /* SO */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides {
    animation-name: slidein;
 }
@keyframes slidein {
    
    from {
      left: 0px;
      
    }
    37%
    {
        left: 0px;
    }
    42%{
        left: -700px;
    }
    80% {
     left: -700px;
    }
  
    85%{
     left: -1400px;
    }
    
    to{
        left: -1400px;
    }
  }
#produit {
    margin-left: 80px;
}
#impact {
    max-width: 1280px;
    margin: auto;
    padding: 0;
    margin-top: 50px;
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
}
.terre {
    height: 360px;
    width: 360px;
    background-color:rgb(166,212, 251);
}
.centrer{
    margin-top: 20px;
    margin-right: 93px;
    margin-left: 93px;
}
#impact .terre p {
    font-size: 1.4em;
    text-align: center;
}
#letter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px; 
}
#newsletter {
    display: flex;
    justify-content: center;
}
.news {
    text-align: center;
    font-family: 'caviar_dreamsbold';
    font-size: 1.5em;
}

#mail {
    height: 50px;
    width:300px;
    background-color: rgb(166, 212,251);
    font-size: 1.5em;
    text-align: center;
    border: none;
    margin-right: 40px;
}

#mail, .mail_membres {
    background-color: rgb(255, 255, 255);
    font-size: 19px;
    height: auto;
}

.bouton {
    height: 50px;
    width: 200px;
    background-color:rgb(141, 191,59);
    font-size: 1.3em;
}
#footer_contenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width:1080px; 
    margin-bottom: 0;
    background-color:rgb(200,195, 195) ;
}
#footer__fb {  
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 200px;
    margin: auto;
    background-color:rgb(200,195, 195) ;   
}
#footer__fb .fb {
    margin: 20px auto 40px;
    padding: 0;
}
#footer__fb .fb a img {   
    height: 52px;
    width: 52px;
    padding: 0;
}
#footer__fb ul {   
    list-style: none;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    margin-top: -20px;    
}
#footer__fb li a {  
    color:black;
    font-size: 1.1em;
    text-decoration: none;
    list-style: none;   
}
#footer__adress {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 200px;
    margin: auto;
    font-size: 1.1em;
    padding: 0;
    background-color:rgb(200,195, 195) ;   
}
#footer__adress ul {
    padding: 0;
}
#footer__adress ul li {
    color: black;
    font-size: 1.1em;
    list-style: none;
    text-align: center;
}
#footer__nav {
    padding: 0;
    margin: auto;
    width: 360px;
    height: 200px;
    font-size: 1.1em;
    background-color:rgb(200,195, 195) ;
}
#footer__nav ul {
    list-style: none;
    padding: 0;
}
#footer__nav ul li {
    color: black;
    font-size: 1.1em;
    text-align: center;  
}
#footer__nav ul li a {
    text-decoration: none;
    color: black;
}
.disii {
    font-size: 1em;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

/*media queries*/

@media screen and (max-width : 1380px ) {
    
    .menu {
        width: auto;
    }

    .connexion__mobile {
        height: 100%;
        align-items: center;
    }

    .headerLogo{
        display: none;
    }

}
@media screen and (max-width : 1280px){

#principal{
    width: auto;
}
#impact {
    margin: auto;
    margin-top: 50px;
    width: auto;
    justify-content: center;
}
#newsletter {
    margin: auto;
}
#footer_contenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width:980px; 
    margin-bottom: 0;   
}
#footer__fb {  
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 200px;
    margin: auto;
    background-color:rgb(200,195, 195) ;
}
#footer__fb .fb {  
    margin: 20px auto 40px;
    padding: 0;
}
#footer__fb ul {   
    list-style: none;
    text-align: center;
    padding: 0;   
}
#footer__fb li a {  
    color:black;
    font-size: 1em;
    text-decoration: none;
    list-style: none;    
}
#footer__adress {
    display: flex;
    justify-content: center;
    width: 326px;
    height: 200px;
    margin: auto;
    font-size: 1em;
    padding: 0;
    background-color:rgb(200,195, 195) ;    
}
#footer__adress ul {
    padding: 0;
}
#footer__adress ul li {
    color: black;
    font-size: 1em;
    list-style: none;
    text-align: center;
}
#footer__nav {
    padding: 0;
    margin: auto;
    width: 326px;
    height: 200px;
    font-size: 1em;
    background-color:rgb(200,195, 195) ;
}
#footer__nav ul {
    list-style: none;
    padding: 0;
}
#footer__nav ul li {
    color: black;
    font-size: 1em;
    text-align: center;  
}
#footer__nav ul li a {
    text-decoration: none;
    color: black;
}
.disii {
    font-size: 0.9em;
    margin: auto;
    text-align: center;
    margin-top: 20px;    
}
}

@media screen and (max-width : 1080px){


#principal {
    width:auto
}
.burger {
    display:inline;
    position: relative;
}
.menu .burger {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:50px;
  z-index: 5;
  line-height:50px;
  position:absolute;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  color: white;
}
.menu .burger:before {
  content:'menu';
}
.menu .burger:checked:before {
  content:'close';
}
.menu nav { 
  background:inherit;
  overflow:hidden;
  transition:height .2s;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin : 0;
  padding: 0;
  height: 0;
  width: auto;
  z-index: inherit;
}
.menu .burger:checked + nav {
    height: 200px;
    width: 100%;
    opacity: 80%;
    font-weight: bold;
    z-index: 4;
}
.menu .burger:checked + nav .connexion, .connexion__mobile {
   display: none;
}
.menu nav > {
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0;
  width:100%;
}
.menu nav input {
  background:#111;
  border:none;
}
.connexion__mobile {
    display: flex;
    position: absolute;
    margin-right: 5px;
    top: 0;
    right: 0;
    z-index: 0;
}
.slider {
    position: relative;
    display: flex;
    justify-content: flex-end;  
}
.slide_texte {
    font-size: 1.2em;
}
@keyframes slidein {
    
    from {
      left: 100px;
      
    }
    37%
    {
        left: 100px;
    }
    42%{
        left: -600px;
    }
    80% {
     left: -600px;
    }
  
    85%{
     left: -1300px;
    }
    
    to{
        left: -1300px;
    }
  }
#impact {
    margin: auto;
    margin-top: 50px;
    width: auto;
    justify-content: center;
}
#footer_contenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width:768px; 
    margin-bottom: 0;
}
#footer__fb {  
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 150px;
    margin: auto;
    background-color:rgb(200,195, 195) ;
}
#footer__fb .fb {  
    margin-bottom: 25px;
    padding: 0; 
}
#footer__fb .fb a img {  
 width: 42px;
 height : 42px;
 margin :  auto; 
}
#footer__fb ul {   
    list-style: none;
    text-align: center;
    padding: 0;
}
#footer__fb li a {  
    color:black;
    font-size: 0.9em;
    text-decoration: none;
    list-style: none;
}
#footer__adress {
    display: flex;
    justify-content: center;
    width: 256px;
    height: 150px;
    margin: auto;
    font-size: 0.9em;
    padding: 0;
    background-color:rgb(200,195, 195) ; 
}
#footer__adress ul {
    padding: 0;
}
#footer__adress ul li {
    color: black;
    font-size: 0.9em;
    list-style: none;
    text-align: center;
}
#footer__nav {
    padding: 0;
    margin: auto;
    width: 256px;
    height: 150px;
    font-size: 0.9em;
    background-color:rgb(200,195, 195) ;
}
#footer__nav ul {
    list-style: none;
    padding: 0;
}
#footer__nav ul li {
    color: black;
    font-size: 0.9em;
    text-align: center;  
}
#footer__nav ul li a {
    text-decoration: none;
    color: black;
}
.disii {
    font-size: 0.8em;
    margin: auto;
    text-align: center;
    margin-top: 20px;    
}
}

@media screen and (max-width : 768px) {

.slider {
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* margin-right: -140px; */
}
.slide_texte {
    font-size: 1.2em;
}

@keyframes slidein {
    
    from {
      left: 180px;
      
    }
    37%
    {
        left: 180px;
    }
    42%{
        left: -520px;
    }
    80% {
     left: -520px;
    }
  
    85%{
     left: -1220px;
    }
    
    to{
        left: -1220px;
    }
  }

#impact {
    margin: auto;
    margin-top: 50px;
    width: auto;
    justify-content: center;
}
#footer_contenaire {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width:576px; 
    margin-bottom: 0; 
}
#footer__fb {   
    width: 180px;
    height: 100px;
    margin: 0;
    background-color:rgb(200,195, 195) ;
}
#footer__fb .fb {  
    margin:  10px auto 15px;
    padding: 0;
}
#footer__fb .fb a img {  
 width: 24px;
 height : 24px;
 margin :  auto;
}
#footer__fb ul {   
    list-style: none;
    text-align: center;
    padding: 0;
}
#footer__fb li a {  
    color:black;
    font-size: 0.8em;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    line-height: 80%;
}
#footer__adress {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 100px;
    margin: 0;
    font-size: 0.8em;
    padding: 0;
    background-color:rgb(200,195, 195) ;
}
#footer__adress ul {
    padding: 0;
}
#footer__adress ul li {
    color: black;
    font-size: 0.8em;
    list-style: none;
    text-align: center;
}
#footer__nav {
    padding: 0;
    margin: 0;
    width: 180px;
    height: 100px;
    font-size: 0.8em;
    background-color:rgb(200,195, 195) ;
}
#footer__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 11px;
}
#footer__nav ul li {
    color: black;
    font-size: 0.8em;
    text-align: center;  
}
#footer__nav ul li a {
    text-decoration: none;
    color: black;
}
.disii {
    font-size: 0.6em;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
}

@media screen and (max-width : 750px) {

    #background {
        display: none;
    }

    #tab_content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

@media screen and (max-width : 610px) {

#background {
    display: none;
}
#newsletter {
    flex-wrap: wrap;
}
.bouton {
    margin-top: 20px;
    margin: auto;
}
}

@media screen and (max-width: 576px) {

#element_titre {
    margin-top: 10px;
}
.sous_titre {
    font-size: 1em;
}
#background {
   z-index: 3;
   background-color: rgb(94, 158, 73);
   background-image: none;
   height: 150px;
}
#impact {
   flex-direction: column;
   margin-top: 0px;
}
.terre {
  margin: auto;
}

#letter {
    text-align: center;
}
#newsletter {
    display: flex;
    flex-direction: column;
}
.news {
    text-align: center;
    font-family: 'caviar_dreamsbold';
    font-size: 1.5em;
}
#mail {
    width:280px;
    text-align: center;
    border: none;
    margin: auto;
  }
.bouton {
    margin: auto;
    margin-top: 20px;
}
#footer_contenaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 70%;
    height: auto;
    margin-bottom: 0;    
}
#footer__fb {   
    width: auto;
    height: auto;
    margin: auto;
    background-color:rgb(200,195, 195) ;    
}
#footer__fb .fb {  
    margin:  10px auto 0px;
    padding: 0;
}
#footer__fb .fb a img {  
 width: 40px;
 height : 40px;
 margin :  10px auto;
}
#footer__fb ul {   
    list-style: none;
    text-align: center;
    padding: 0;
    line-height: 100%;
    margin-top: 0px;
}
#footer__fb li a {  
    color:black;
    font-size: 0.9em;
    line-height: 50%;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
}
#footer__adress {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    font-size: 1em;
    padding: 0;
    background-color:rgb(200,195, 195) ;
}
#footer__adress ul {
    padding: 0;
}
#footer__adress ul li {
    color: black;
    font-size: 0.9em;
    list-style: none;
    text-align: center;
}
#footer__nav {
    padding: 0;
    margin: auto;
    width: auto;
    height: auto;
    font-size: 1em;
    background-color:rgb(200,195, 195) ;
}
#footer__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 11px;
}
#footer__nav ul li {
    color: black;
    font-size: 1em;
    text-align: center;  
}
#footer__nav ul li a {
    text-decoration: none;
    color: black;
}
.disii {
    font-size: 0.7em;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
}

@media screen and (max-width: 360px){
   
 .terre {
        height: 360px;
        max-width: 360px;
        background-color:rgb(166,212, 251);
        margin: auto;   
    }
.terre .centrer {
        margin-top: 20px;
        margin-right: 93px;
        margin-left: 93px;
        
    }
.terre img {
        max-width: 360px;
    }
}
@media screen and (max-width: 320px) {

    .terre {
        height: 320px;
        max-width: 320px;
        background-color:rgb(166,212, 251);
        
    }
.terre .centrer {
        margin-top: 20px;
        margin-right: 73px;
        margin-left: 73px;
        
    }
.terre img {
        max-width: 320px;
    }

}
/* 

PAGE SAVOIR-FAIRE*****************************************************************************

*/

.contenaire__bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 70px;
    margin: 0 auto;
}
.savoir__faire {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 100%;
    margin: 50px auto;
}   
.Savoir__bloc {
    display: flex;
    flex-direction: row;
    height: 150px;
    max-width: 360px;
    background-color: rgb(141, 191, 59);
    text-decoration: none;
}
.Savoir__bloc  img {
    height: 50px;
    width: 50px;
    margin: 25px 65px 0px 25px;
}
.Savoir__bloc h2 {
       font-size: 1.4em;
       color:black;
       font-weight: normal;
       margin-right: 15px ;
}
.Savoir__article {
    margin: 25px auto;
    padding:10px;
    background-color: rgb(141, 191, 59);
}
.auteur {
    width: 360px;
    height: 80px;
    background-color: rgb(166, 212, 251);
    display: flex;
}
.auteur p {
    margin: auto 25px;
    font-size: 1.1em;
}
.Faire__bloc {
    display: flex;
    flex-direction: row;
    height: 150px;
    max-width: 360px;
    background-color: rgb(255, 229, 33);
    text-decoration: none;
}
.Faire__bloc  img {
    height: 60px;
    width: 60px;
    margin: 25px 65px 0px 25px;
}
.Faire__bloc h2 {
       font-size: 1.4em;
       color:black;
       font-weight: normal;
       margin-right: 15px;       
}
.astuce__fb {
    text-align: center;
    font-family: 'caviar_dreamsbold';
    font-size: 1.6em;
    margin-bottom: 50px;
}
.astuce__fb img {
    height: 70px;
    width: 70px;
    margin-top: -20px;
}
.Faire__article {
    margin: auto;
    max-width: 1280px;
    padding:10px;
    background-color: rgb(255, 229, 33);
}

@media screen and (max-width: 768px) {

.savoir__faire {
    margin-top: 10px;
    margin-bottom: 10px;
}
}

@media screen and (max-width: 350px) {
    .Savoir__bloc {
        max-width: 320px;
    }
    .auteur {
        width: 320px;
    }
    .Faire__bloc {
        max-width: 320px;
    }
}

/************************************
Page évènements
************************************/

.btn-event{
    width: 150px;
    padding: 2px;
    background: #00aeef;
    color : #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.btn-event:hover{
    background: #0079a7;
}

.event__bloc{
    width: 70%;
    height: auto;
    margin: auto;
    
}

.event__content {
    background-color: rgb(141, 191, 59);
    padding: 10px;
}

.event__bloc a {
    text-decoration: none;
}

.event__bloc h2 {
    font-size: 1.4em;
    color:black;
    font-weight: normal;
    margin-right: 15px ;
}

.event__bloc p {
    text-decoration: none; 
    color: black;
}

.event__auteur {
    width: 100%;
    height: 80px;
    background-color: rgb(166, 212, 251);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.event__auteur p {
    margin: auto 25px;
    font-size: 1.1em;
}
.event__auteur {
    margin: auto auto;
    font-size: 0.9em;
}
.event__auteur--date {
    display: flex;
    flex-direction: row;
    margin: auto 0px;
}
.event__date {   
    margin: auto 20px;
    font-size: 0.9em;
}
.event__event {
    margin: 25px auto;
    padding:10px;
    background-color: rgb(141, 191, 59);
}

@media screen and (max-width: 768px) { 

    .event__auteur {
        width: 100%;
        height: auto;
        background-color: rgb(166, 212, 251);
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .event__auteur p {
        display: block;
        margin: auto 5pxpx;
        width: 50%;
        height: auto;
        font-size: 1.1em;
    }
    .event__auteur--date {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
    }
    .event__date {   
        margin: 5px auto;
        font-size: 0.9em;
    }
}
/************************************
Galerie
************************************/

.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin : 50px, 0px;
}

.galerie__container {
   flex-direction: row;
   margin: 20px 10px;
}

.galerie__container a img {
    border: #00aeef solid 5px;
    width: 200px;
    height: 200px;
}

/***************************
******   Contact.html   **************/

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color:rgb(166,212, 251) ;
    margin: 0 auto;
    padding: 20px; 
    margin-top: 15px;
}
label {
        font-size: 1em;
   
}
input {
    /* max-width: 300px; */
    height: 50px;
    font-size: 1.2em;
    margin-bottom: 20px;   
}
textarea {
    font-size: 1.2em;
}
.rgpd {
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.rgpd__text {
    margin: 18px 0 ;
    font-size: 1em;
}
.bouton__form {   
    margin: 20px auto 10px;
    height: 40px;
    width: 150px;
    background-color:rgb(141, 191,59);
    font-size: 1em;
}
.contact__ecomie {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 900px;
    margin: 70px auto 70px ;
}
.contact {
    display: flex;
    flex-direction: row;
}
.contact img {
    height: 90px;
    width: 75px;
    margin: 0;
}
.contact p {
    font-size: 1.3em;
    margin: auto;
    margin-left:10px;
}
.map  {
    max-width: 550px;
    margin: 0px auto 50px;   
}
.map img {
    max-width: 550px;
    max-height: 400px;
    margin: auto;
}

.conditions {
    display: flex;
}

@media screen and (max-width: 768px) {

.contact__ecomie {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        max-width: 900px;
        margin: 70px auto 70px ;
}
.contact {
        display: flex;
        flex-direction: row;
}   
.contact img {   
        height: 70px;
        width: 55px;
        margin: 0;
}
.contact p {   
        font-size: 1.1em;
        margin: auto;
        margin-left:10px;
}    
}

@media screen and (max-width: 576px) {
    .contact__ecomie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        max-width: 900px;
        margin: 70px auto 70px ;
    }
    .contact {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .contact img {
        height: 50px;
        width: 35px;
        margin: 0;
    }
    .contact p {
        font-size: 1em;
        margin: auto;
        margin-left:10px;
    }
    .map  {
        max-width: 320px;
        margin: 0px auto 50px;   
    }
    .map img {
        max-width: 320px;
        margin: auto;
    }
}
/************************************
Condition générale d'utilisation
************************************/

.CGU {
    font-family: 'Varela Round','caviar_dreamsbold',sans-serif;
    background-color: rgb(250, 238, 238);
    padding: 20px;
}

/************************************
Plan du site
************************************/

.plan {
    display: flex;
    background-color:rgb(250, 238, 238); ;
    width: 1080px;
    margin: auto;
}

@media screen and (max-width:1080px) {
.plan {
    width: 768px;
}
}

@media screen and (max-width: 768px) {
.plan {
     width: 576px;        
}
}

@media screen and (max-width: 576px) {

.plan {
        width: 320px;
}
}

/************************************
Article
************************************/

.article img {
    max-width: 1000px;
    height: 500px;
}
@media screen and (max-width:1080px) {
    .article img {
        max-width: 750px;
        height: 450px;
    }
}

/*****************************
    Espace admin
*****************************/
#adminContent{
    display: flex;
    background: #EBEDEF;
}

section.right_content {
    width: 100%;
    padding: 20px;
}

#sidebar{ 
    width: 250px;
}

#sidebar nav ul li {
    list-style: none;
}

#sidebar nav a {
    display: flex;
    height: 50px;
    /* justify-content: stretch; */
    align-items: center;
    text-decoration: none;
    color: #fff;
}

#sidebar nav a:hover{
    color: #e5ce23;
}

#sidebar nav a i{
    margin-right: 25px;

}

.link-nav-admin {
    color: white;
}

.link-nav-admin {
    display: flex;
    align-items: center;
    font-size: 30px;
    background: #2C3E50;
    height: 75px;
}

.content_ico{
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico_admin:hover{
    color: #ffe527;
}

a.link_admin {
    font-size: 16px;
}
/*****************************
    Home  dashboard
*****************************/

.flex_column {
    
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#stats_dash, #dash_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#dash_info div {
    width: 50%;
}

#stats_dash .flex_column {
    border: solid;
    padding: 17px;
    font-size: 30px;
    margin-bottom: 50px;
    color : #fff;
}

#stats_dash .flex_column span{
    font-size: 50px;
}

.bg_green{
    background: #2ECC71;
}

.bg_blue{
    background: #2E86C1;
}

.bg_orange{
    background: #F39C12;
    
}

div#dash_info .flex_column {
    padding: 10px;
}


#dash_actu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


@media screen and (max-width : 1280px){
    .link-nav-admin {
        width: 70px;
        background: #2C3E50;
        display: block;
        overflow: hidden;
        position: relative;
        margin: auto auto;
    }

    .link-nav-admin:hover{
        width: 250px;;
    }

    #sidebar{
        width: 70px;
    }

    .content_ico{
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a.link_admin {
        position: relative;
        left: 90px;
        top: -51px;
    }
}
@media screen and (max-width: 768px) {
    #adminContent{
        display: flex;
        background: #EBEDEF;
    }

    section.right_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 100px;
        padding: 10px;
    }
    #sidebar {
        position: absolute;
        width: 100%;
    }

    .side__nav { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    }
    #sidebar nav ul li {
        list-style: none;
    }
    
    #sidebar nav a {
        display: flex;
        height: 50px;
        /* justify-content: stretch; */
        align-items: center;
        text-decoration: none;
        color: #fff;
    }
    
    #sidebar nav a:hover{
        color: #e5ce23;
    }
    
    #sidebar nav a i{
        margin-right: 25px;
    
    }
    
    .link-nav-admin {
        color: white;
    }
    .content_ico{
        width: 70px;
        height: 50px;
        align-items: center;
    }
    
    .ico_admin:hover{
        color: #ffe527;
        
    }
    
    a.link_admin {
        display: none;
    }
}
@media screen and (max-width: 572px) {
    .content_ico{
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        a.link_admin {
        position: relative;
        left: 39px;
        top: -51px;
    }
}





/*****************************
    Page article site
*****************************/
/* .btn-content{
    height: 45px;
    width: 200px;
} */

#modal{
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}


.btn{
    width: 100px;
    background: #00aeef;
    color : #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.btn:hover{
    background: #0079a7;
}

#btn-create-art{
    margin: 15px;
}

#btn-create-art a{
    width: 150px;
}

#form_search{
    flex-direction: row;
    max-width: 70%;
    background: none;
    padding: 0px;
}

#form_search span, #search_cat span{
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #838383;
    font-style: italic;
}
@media screen and (max-width: 768px) {

    #form_search span, #search_cat span{
      display: none;
    }
    #form_search{
        flex-direction: row;
        max-width: 90%;
        background: none;
        padding: 0px;
    }
}

#search_cat{
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 0 33px 0;
}

div#search_cat a {
    margin-right:  15px;
}


#form_search input{
    margin-bottom: 0px;;
}

.field_search{
    width: 100%;
}

input.btn.btn_search {
    height: 50px;
    border: none;
    margin-left: 10px;
    /* padding: 15px; */
    width: 150px;
}
/******************
Header logo
******************/

.headerLogo {
    background: #00aeef;
    display: flex;
    justify-content: flex-end;
    padding: 8px 20px;
}

.headerLogo a, .headerLogo span, .connexion__mobile a, .connexion__mobile span {
    text-decoration: none;
    color: #fff;
    padding: 2px;
}

.headerLogo a:hover, .connexion__mobile a:hover {
    color: #ffe527;
}

@media screen and (max-width : 1080px ) {
    
    .connexion__mobile {
        height: 100%;
        align-items: center;
    }

    .headerLogo{
        display: none;
    }

    .headerAdmin{
        display: flex;
    }

}

/******************
Article Dashboard
******************/

.tab{
    border-collapse: collapse;
    width: 100%;
}

.thead, th{
    background: #229954;
    color: #fff;
    font-weight: normal;
    font-size: 20px;;
}

.tab tr, .tab td{
    height: 50px;
    text-align: center;
}

.tab .fa-archive, .tab .fa-hourglass-half{
    color : #F1C40F;
}

.tab .fa-trash-alt, .tab .fa-times-circle{
    color : #E74C3C;
}

.tab .fa-check-circle{
    color : #2ECC71;
}

.tab .fa-search{
    color : #34495E;
}

.tab .fa-check-circle, .tab .fa-hourglass-half,.tab .fa-times-circle{
    font-size: 20px;
}

.form{
    max-width: 100%;
    margin: 0px;
}

@media screen and (max-width: 572px) {

    tab tr, .tab td {
        height: 50px;
        font-size: 0.7rem;
        text-align: center;
    }
    .thead, th{
        background: #229954;
        color: #fff;
        font-weight: normal;
        font-size: 0.8rem;
    }
}


/*Article detail*/
.content-action{
    display: flex;
} 
.content-action .btn {
    margin: 12px;
    border-radius: 5px;
}
.btn.btn-valid {
    background: #28B463;
}
.btn.btn-valid:hover {
    background: #2ECC71;
}

.btn.btn-fail, a.btn.btn-del{
    background: #EA3725;
}
.btn.btn-fail:hover, a.btn.btn-del:hover {
    background: #E74C3C;
}

.btn.btn-edit {
    background: #F39C12;
}
.btn.btn-edit:hover {
    background: #F5B041;
}

p.field-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#title{
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
}

p.field-content select{
    height: 30px;
}

input#submit{
    background: #28B463;
    color: #fff;
    cursor: pointer;
    border: none;
}

input#submit:hover{
    background: #239B56;
}

#display_content{
    display: none;
}


/*Commentaires - Article*/
#comments {
    max-width: 1280px;
    background: #fff;
    padding: 10px;
    font-size: 14px;
    border: solid 1px #c0c0c0;
    margin: 10px auto;
}

span.comment_author {
    font-weight: bold;
}



.comments p{
    display: flex;
    align-items: baseline;
}

.comments p .btn{
    margin-left: 20px;;
    border: none;
    font-family: 'Varela Round','caviar_dreamsbold',sans-serif;
    font-size: 15px;;
}


/* ---------- Page Profil ---------*/

.image{
    max-width:200px;
    height:auto;
}

#content_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field_profil, #btn_submit{
    display: none;
}

.info_profil {
    display: flex;
    align-items: center;
    height: 40px;
}

.info_profil{
    display: flex;
    justify-content: space-between;
}

.info_profil td{
    width: 60%;
}

.info_profil .field_profil{
    height:  30px;;
    margin-bottom: 0px;
}

table#tab_profil .info_profil td:nth-child(2) {
    display: flex;
    justify-content: space-between;
    

}

#btn_edit_profil{
    display: none;
    margin-bottom: 0px;
    margin-top: 20px;
}

#btn_edit_profil, .fas, .fas:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .info_profil{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
       
    }

}

/*****************************
    Liste membre Admin
*****************************/
#tab_content{
    display: flex;;
    justify-content: center;
}
#tab_left, #tab_right{
    width: 90%;
    margin: 10px;
}
.row_info_membre form{
    flex-direction: row;
    background: none;
    padding: 0;
    margin : 0;
}

#tab_right .thead{
    height: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row_info_membre, #tab_right .thead{
    margin : 0;
}

.row_info_membre form #role, .row_info_membre form #btn_submit{
    height: 35px;
    display:none;
}

.row_info_membre{
    height: 50px;
    display: flex;
    align-items: center;
}

.lab {
    font-size: 19px;
    display: inline-block;
    width: 140px;
    margin-right: 0;
    padding-left: 15px;
}

.info_membre{
    font-size : 19px;
}

.bluesky{
    background: #D6EAF8;
}

.white{
    background: #fff;
}

#btn_edit_role{
    margin-left: 20px;
    color : #7D3C98;
}

/*****************************
    Profil
*****************************/

#gestion_photo_profil{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#gestion_photo_profil .btn{
    margin: 10px;
}

.btn_edit_photo {
    background: #F39C12;
    cursor: pointer;
}

.btn_del_photo {
    background: #EA3725;
}

.btn_del_photo:hover {
    cursor: pointer;
}

.btn_del{
    background: #EA3725;
}

.btn_del:hover{
    cursor: pointer;
}

.btn_more:hover{
    cursor: pointer;
}

.btn_basket:hover{
    cursor: pointer;
}

#userAvatar{
    display: none;
    margin-top : 15px;
}



/*****************************
    Inscription
*****************************/

/* .error{
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  display: flex;
  justify-content: center;
} */

.red_error{
    color : #EA3725;
    padding-bottom: 10px
}

#form_val p{
    margin: 0;
}

#form_val{
    margin-top : 0px;
}

#form_val input{
    margin-bottom: 10px;;
}

.message_success{
    display: block;
    height: 50px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.alert-error {
    color: #763c3c;
    background-color: #f0d8d8;
    border-color: #e9c6c6;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.alert-error p{
    margin : 0px;
}

/* PAGE ACCES REFUSER */

div#oops {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

div#oops img {
    width: 300px;
}

#oops p{
    font-size: 30px;
}
/*Formualire inscription news*/
form#form_news, #checkbox_news{
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
}

#checkbox_news #check_news{
    display: none;
}

#checkbox_news #submit{
    width: 100%;
}

button.action {
    border: none;
    background: none;
}

.link_gestion .fas{
    font-size: 15px;
}

.error{
    display: block;
    padding: 10px 0;
}

.form_field{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.form_field label{
    width: 221px;
    margin-right: 0px;;
} 

.form_field input{
    margin-bottom: 0px;
    height: 40px;
    width: 350px;
}

/*GALERIE ADMIN*/

a.btn.btn_create_gallery{
    width: 200px;;
}

#form_image input, #imgEvent{
    height: 30px;;
    margin: 10px;;
}

#list_gallery{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#list_gallery div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

#list_gallery img{
    width : 100%;
    height: 250px;;
}



#list_gallery a:hover {
    opacity: 0.7;
}

div#gallery img {
    width: 90%;
    height: 100%;
}

div#content_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content_gallery button{
    background: none;
    border: none;
}

#btn_content i {
    font-size: 50px;
    color: #00aeef;
}

#help{
    padding-left: 5px;
}
.fa-info-circle{
    font-size: 20px;
    color : #1A5276;
}

.info_bulle{
    text-align: right;
    color : #C0392B;
}

p#ulpload_field span {
    margin-left: 0px !important;
}

.btn_send{
    width: 230px;;
}

.tab_right_membre{
    display: none;
}

#form_role{
    align-items: center;
}

#form_role input{
    margin-bottom: 0px;
}

.dash_activite td.col2 {
    width : 70%;
}